initramfs/
my-initramfs.cpio
busybox-1.23.0/_install
*.a
*.a.cmd

busybox-1.23.0/.config.old
busybox-1.23.0/.busybox_unstripped.cmd
busybox-1.23.0/.kconfig.d
busybox-1.23.0/.kernelrelease
busybox-1.23.0/applets/.applet_tables.cmd
busybox-1.23.0/applets/.usage.cmd
busybox-1.23.0/applets/.usage_pod.cmd
busybox-1.23.0/applets/applet_tables
busybox-1.23.0/applets/usage
busybox-1.23.0/applets/usage_pod
busybox-1.23.0/busybox
busybox-1.23.0/busybox.links
busybox-1.23.0/busybox_unstripped
busybox-1.23.0/busybox_unstripped.map
busybox-1.23.0/busybox_unstripped.out
busybox-1.23.0/include/autoconf.h
busybox-1.23.0/scripts/basic/.docproc.cmd
busybox-1.23.0/scripts/basic/.fixdep.cmd
busybox-1.23.0/scripts/basic/.split-include.cmd
busybox-1.23.0/scripts/kconfig/.conf.cmd

